<h1>New account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>
  <p>
  	<h2> Please create a chimein account with a username</h2>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', accounts_path %>